@model AirlinesReservationSystem.Models.TicketManager

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<div class="modal-body container mt-3">
    <div class="card">
        <div class="card-header">
            <h4>
                Chi tiết vé
            </h4>
        </div>
        <div class="card-body">
            <div class="form-group">
                <label>Mã Code chuyến bay:</label>
                <input type="text" class="form-control" value=" @Html.DisplayFor(model => model.flight_schedules_id)" readonly>
            </div>
            <div class="form-group">
                <label>Mã khách hàng:</label>
                <input type="text" class="form-control" value="@Html.DisplayFor(model => model.user_id)" readonly>
            </div>
            <div class="form-group">
                <label>Mã trạng thái: <span></span></label>
                @{
                    if (Model.status == 0)
                    {
                        <input type="text" class="form-control" value="Pay" readonly>
                    }
                    else
                    {
                        <input type="text" class="form-control" value="Cancel" readonly>
                    }
                }

            </div>
            <div class="form-group">
                <label>Mã vé:</label>
                <input type="text" class="form-control" value="@Html.DisplayFor(model => model.code)" readonly>
            </div>
            <div class="form-group">
                <label>Vị trí ngồi:</label>
                <input type="text" class="form-control" value="@Html.DisplayFor(model => model.seat_location)" readonly>
            </div>
            <div class="form-group">
                <label>Mã thanh toán:</label>
                @{
                    if (Model.pay_id == null)
                    {
                        <input type="text" class="form-control" value="Null" readonly>
                    }
                    else
                    {
                        <input type="text" class="form-control" value="@Html.DisplayFor(model => model.pay_id)" readonly>
                    }
                }

            </div>
            <p>
                @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
                @Html.ActionLink("Back to List", "Index")
            </p>
        </div>
    </div>
</div>
